.headerlanding {
  background-color: $color-white-four;

  &__img {
    padding-bottom: 35.4px;
    width: 250px;

    @media all and (min-width: 768px) {
      padding-bottom: 31px;
      width: 419px;
    }
  }
}

.headerprofilecards {
  background-color: transparent;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__img {
    margin: 0px 0px 0px 30px;
    width: 180px;
  }
}
